In [26]:
import bz2
import json
import pandas as pd
from pathlib import Path

from IPython.display import display, HTML

In [14]:
DATA_FOLDER = Path("../data")
GENERATED_FOLDER = Path("../generated")

path_to_file = DATA_FOLDER / "QUOTEBANK/quotes-2016.json.bz2"
path_to_out = GENERATED_FOLDER / "QUOTEBANK/quotes-2016.json.bz2"

In [44]:
# Read json file as dictionary with json.load
with bz2.open(path_to_file, 'rb') as s_file:
    with bz2.open(path_to_out, 'wb') as d_file:
    # We could also use 'ab' mode to append to an existing file
        n = 0
        for instance in s_file:
            if n >= 1:
                break
            else:
                n += 1
            instance = json.loads(instance)
            print(instance)
            d_file.write((json.dumps(instance)+'\n').encode('utf-8'))
            
with bz2.open(path_to_out, 'rb') as f:
    for instance in f:
        instance = json.loads(instance)
        print(instance)

{'quoteID': '2016-12-26-000040', 'quotation': '[ ] and Chris [ Jones ] were in there a lot and Tamba [ Hali ] was getting a good push that kind of allowed those guys [ to create pressure ],', 'speaker': 'Andy Reid', 'qids': ['Q2622812', 'Q27830815', 'Q470738', 'Q4761219'], 'date': '2016-12-26 20:05:00', 'numOccurrences': 1, 'probas': [['Andy Reid', '0.9432'], ['None', '0.0541'], ['Trevor Siemian', '0.0027']], 'urls': ['http://www.kcchiefs.com/news/article-2/How-a-Sack-Less-Chiefs-Defense-Still-Dominated-the-Broncos/2c68af56-7f6f-41ac-82ff-e5f56d89388d'], 'phase': 'E'}
{'quoteID': '2016-12-26-000040', 'quotation': '[ ] and Chris [ Jones ] were in there a lot and Tamba [ Hali ] was getting a good push that kind of allowed those guys [ to create pressure ],', 'speaker': 'Andy Reid', 'qids': ['Q2622812', 'Q27830815', 'Q470738', 'Q4761219'], 'date': '2016-12-26 20:05:00', 'numOccurrences': 1, 'probas': [['Andy Reid', '0.9432'], ['None', '0.0541'], ['Trevor Siemian', '0.0027']], 'urls': ['http://www.kcchiefs.com/news/article-2/How-a-Sack-Less-Chiefs-Defense-Still-Dominated-the-Broncos/2c68af56-7f6f-41ac-82ff-e5f56d89388d'], 'phase': 'E'}

In [63]:
# Read json file as dataframe with pd.read_json

with pd.read_json(path_to_file, lines=True, compression='bz2', chunksize=1) as df_reader:
    with open(path_to_out, 'wb') as d_file:
    # We could also use 'ab' mode to append to an existing file
        n = 0
        for chunk in df_reader:
            if n >= 2:
                break
            else:
                n += 1
            display(chunk)
            chunk.to_json(d_file, orient = 'records', compression='bz2', lines = True)
        
with pd.read_json(path_to_out, orient = 'records', lines=True, compression='bz2', chunksize=1) as df_reader:
    for chunk in df_reader:
            display(chunk)

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
0,2016-12-26-000040,[ ] and Chris [ Jones ] were in there a lot an...,Andy Reid,"[Q2622812, Q27830815, Q470738, Q4761219]",2016-12-26 20:05:00,1,"[[Andy Reid, 0.9432], [None, 0.0541], [Trevor ...",[http://www.kcchiefs.com/news/article-2/How-a-...,E

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
1,2016-07-31-000006,[ And ] I don't know if we have enough time to...,Mike Howe,[Q6847325],2016-07-31 08:22:12,2,"[[Mike Howe, 0.7118], [None, 0.2882]]",[http://www.peninsuladailynews.com/apps/pbcs.d...,E

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
0,2016-12-26-000040,[ ] and Chris [ Jones ] were in there a lot an...,Andy Reid,"[Q2622812, Q27830815, Q470738, Q4761219]",2016-12-26 20:05:00,1,"[[Andy Reid, 0.9432], [None, 0.0541], [Trevor ...",[http://www.kcchiefs.com/news/article-2/How-a-...,E

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
1,2016-07-31-000006,[ And ] I don't know if we have enough time to...,Mike Howe,[Q6847325],2016-07-31 08:22:12,2,"[[Mike Howe, 0.7118], [None, 0.2882]]",[http://www.peninsuladailynews.com/apps/pbcs.d...,E

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
2,2016-12-26-000040,[ ] and Chris [ Jones ] were in there a lot an...,Andy Reid,"[Q2622812, Q27830815, Q470738, Q4761219]",2016-12-26 20:05:00,1,"[[Andy Reid, 0.9432], [None, 0.0541], [Trevor ...",[http://www.kcchiefs.com/news/article-2/How-a-...,E

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
3,2016-07-31-000006,[ And ] I don't know if we have enough time to...,Mike Howe,[Q6847325],2016-07-31 08:22:12,2,"[[Mike Howe, 0.7118], [None, 0.2882]]",[http://www.peninsuladailynews.com/apps/pbcs.d...,E